.loggedin_content_wrapper{
    width: 100%;
    background-image: url("../img/dst/png/components/misc/game_bg.png");    
    .header_wrapper{
        height: 76px;
        background-color: #fff;
        width: 100%;
        padding: 10px;
        @media all and (max-width : $xl) {
            padding: 10px 20px 10px 20px;
        }
        .get_whitelisted{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            padding: 2px 6px 6px 2px;
            font-size: 11px;
            color: #fff;
            a{
                box-shadow: 0 0px 0 #4b00a3;
            }
            @media all and (max-width : $md) {
                display: block;
            }
        }
        .header_content{
            width: 100%;
            max-width: 1200px;
            margin: 7px auto 0 auto;
            display: grid;
            grid-template-columns: repeat(12, [col-start] 1fr);
            gap: 24px;  
            .header_left{
                grid-column: col-start / span 9;
                @media all and (max-width : $xl) {
                    grid-column: col-start / span 8;
                }
                @media all and (max-width : $lg) {
                    grid-column: col-start / span 8;
                }
                @media all and (max-width : $ml) {
                    grid-column: col-start / span 9;
                }
                @media all and (max-width : $md) {
                    grid-column: col-start / span 4;
                }
                .header_logo{
                    width: 100px;
                    height: 35px;
                    background-image: url("../img/_src/branding/logo_red.svg");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    float: left;
                }
                .header_menu{
                    float: left;
                    padding-top: 7px;
                    .menu{
                        @media all and (max-width : $md) {
                            display: none;
                        }
                        ul{
                            list-style: none;
                            li{
                                background-image: url("../img/dst/svg/components/misc/rocket_black.svg");
                                background-repeat: no-repeat;
                                background-size: 22px 22px;
                                display: inline;
                                padding-left: 26px;
                                margin: 0 25px 0 0;
                                a{
                                    font-family: grota;
                                    color: $dark_color1;
                                    font-size: 14px;
                                    font-weight: 600;
                                    &:hover{
                                        color: $secondary_color;
                                        text-decoration: none;
                                    }
                                }
                                &:hover{
                                    background-image: url("../img/dst/svg/components/misc/rocket_red.svg");
                                }
                                &:last-child{
                                    margin: 0 0 0 0;
                                    
                                }
                            }
                        }
                    }
                }
            }
            .header_right{
                grid-column: col-start 10/ span 3;
                @media all and (max-width : $xl) {
                    grid-column: col-start 9/ span 4;
                }
                @media all and (max-width : $lg) {
                    grid-column: col-start 10/ span 4;
                }
                @media all and (max-width : $ml) {
                    grid-column: col-start 10/ span 5;
                }
                @media all and (max-width : $md) {
                    grid-column: col-start 5/ span 8;
                }
                
                // justify-self: end;
                .header_search{
                    width: 16px;
                    height: 16px;
                    background-image: url("../img/dst/svg/components/misc/search.svg");
                    background-repeat: no-repeat;
                    background-size: 18px;
                    float: right;
                    padding: 10px;
                    margin: 14px 10px;
                }
                .header_notifications{
                    width: 24px;
                    height: 24px;
                    background-image: url("../img/dst/svg/components/misc/bell.svg");
                    background-repeat: no-repeat;
                    background-size: 24px;
                    float: right;
                    padding: 10px;
                    margin: 10px;
                }
                .header_account{
                    float: right;
                    .mobile_button{
                        display: none;
                    }
                    @media all and (max-width : $lg) {
                        margin: 0 10px 0 5px;
                        .sign_button{
                            display:none;
                        }
                        .mobile_button{
                            display: block;
                            margin-top: 10px;
                        }
                    }
                }
                .header_hamburger{
                    width: 24px;
                    height: 24px;
                    background-image: url("../img/dst/svg/components/icons/hamburger_menu.svg");
                    background-repeat: no-repeat;
                    background-size: 24px;
                    float: right;
                    padding: 10px;
                    margin: 10px;
                    display: none;
                    @media all and (max-width : $md) {
                        display: block;
                    }
                }
            }
        }
    }
    .main_content_wrapper{
        display: grid;
        grid-template-columns: repeat(12, [col-start] 1fr);
        gap: 24px; 
        width: 100%;
        max-width: 1200px;
        margin: 24px auto 0 auto;
        @media all and (max-width : $xl) {
            padding: 0 20px;
        }
        .main_content_left{
            grid-column: col-start / span 9;
            @media all and (max-width : $lg) {
                grid-column: col-start / span 12;
            }
            .advertised_game{
                background: $secondary_color;
                border: 3px solid $light_primary_color;
                box-sizing: border-box;
                box-shadow: 0px 6px 0px $light_primary_color;
                border-radius: 8px;
                padding: 24px;
                .advertised_game_left{
                    float: left;
                    width: 50%;
                    @media all and (max-width : $ssm) {
                        // padding: 24px;
                        width: 100%;
                    }
                    .advertised_game_image{
                        background-image: url("../img/dst/jpg/components/visuals/ad_game.jpg");
                        background-repeat: no-repeat;
                        border-radius: 7px;
                        max-width: 417px;
                        max-height: 188px;

                        background-size: 417px 188px;
                        width: 100%;
                        height: 188px;
                        // img{
                        //     width: 100%;
                        //     border-radius: 7px;
                        // }
                    }
                }
                .advertised_game_right{
                    float: left;
                    padding: 24px;
                    width: 50%;
                    @media all and (max-width : 1174px) {
                        padding: 0 24px;
                    }
                    @media all and (max-width : $ssm) {
                        padding: 24px 0 0 0;
                        width: 100%;
                    }
                    .advertised_game_title{
                        font-family: grota;
                        font-size: 26px;
                        font-weight: 800;
                        @media all and (max-width : $md) {
                            font-size: 24px;
                            line-height: 34px;
                        }
                        @media all and (max-width : $sm) {
                            font-size: 22px;
                            line-height: 30px;
                        }
                        @media all and (max-width : $ssm) {
                            font-size: 18px;
                            line-height: 24px;
                        }
                    }
                    .advertised_game_description{
                        @media all and (max-width : $sm) {
                            font-size: 14px;
                            line-height: 16px;
                            padding-top: 10px;
                        }
                        @media all and (max-width : $sm) {
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                }
            }
            .all_games{
                h2{
                    font-family: grota;
                    font-size: 26px;
                    font-weight: 800;
                    color: $dark_color1;
                    margin: 38px 0 24px 0;
                }
                
            }
        }
        .main_content_right{
            grid-column: col-start 10/ span 3;
            @media all and (max-width : $lg) {
                display: none;
            }
            .my_wallet{
                background: #FFFFFF;
                border: 3px solid $dark_color6;
                box-sizing: border-box;
                box-shadow: 0px 6px 0px $dark_color6;
                border-radius: 8px;
                text-align: center;
                margin-bottom: 24px;
                .wallet_info{
                    background-image: url("../img/dst/svg/components/misc/info.svg");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    width: 37px;
                    height: 37px;
                    margin: 25px auto 0 auto;
                }
                .wallet_name{
                    color: $dark_color1;
                    font-family: grota;
                    font-weight: 600;
                    font-size: 18px;
                    margin-top: 12px;
                }
                .wallet_description{
                    color: $dark_color2;
                    font-size: 14px;
                    margin-top: 12px;
                    width: 90%;
                    margin: 12px auto 0 auto;
                }
                .create_account{
                    color: $dark_color1;
                    margin-top: 16px;
                    a{
                        &::selection{
                            color: none;
                        }                 
                    }  
                }
                .wallet_bottom{
                    color: $dark_color4;
                    font-size: 12px;
                    margin-bottom: 24px;
                    a{
                        color: $dark_color1;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
            .wallet_balances{
                background: #FFFFFF;
                border: 3px solid $dark_color6;
                box-sizing: border-box;
                box-shadow: 0px 6px 0px $dark_color6;
                border-radius: 8px;
                
                .balance_box_wrapper{
                    color: $dark_color2;
                    padding: 24px;
                    margin-bottom: 16px;
                    height: 80px;
                    .balance_name{
                        font-size: 10px;
                        color: $dark_color5;
                        line-height: 12px;
                    }
                    .balance_detail_wrapper{
                        margin: 10px 0;
                        .balance_divider{
                            .balance_divider_left{
                                float: left;
                                .balance_logo{
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 4px;
                                    background-color: rgba($color: $secondary_color, $alpha: 0.1);
                                    padding: 6px 0px 0px 9px;
                                    img{
                                        width: 24px;
                                        height: 24px;
                                    }
                                }
                            }
                            .balance_divider_right{
                                float: left;
                                margin-left: 10px;
                                position: relative;
                                .balance_number{
                                    font-size: 18px;
                                    font-family: grota;
                                    font-weight: 600;
                                    color: $dark_color1;
                                }
                                .balance_address{
                                    color: $dark_color5;
                                    font-size: 10px;
                                    max-width: 150px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;   
                                    white-space: nowrap; 
                                    @media all and (max-width : $xl) {
                                        max-width: 115px;
                                    }
                                }
                                .balance_copy{
                                    background-image: url("../img/dst/svg/components/icons/copy.svg");
                                    background-repeat: no-repeat;
                                    background-size: 100%;
                                    width: 24px;
                                    height: 24px;
                                    position: absolute;
                                    right: -40px;
                                    top: 10px;
                                    @media all and (max-width : $xl) {
                                        right: -20px;
                                    }
                                }
                            }
                        }
                        
                        
                    }
                }
                .button_wrapper{
                    margin: 0 auto;
                    color: $dark_color1;
                    text-align: center;
                    margin-top: 40px;
                    margin-bottom: 14px;
                }
            }
        }
    }
    .slim_footer{
        width: 100%;
        background-color: #fff;
        min-height: 32px;
        padding-top: 2px;
        margin-top: 50px;
        .menu{
            ul{
                list-style: none;
                padding: 0 10px;
                margin: 0 auto;
                text-align: center;
                li{
                    display: inline-block;
                    padding-right: 16px;
                    a{
                        color: $dark_color2;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.game_box{
    width: 100%;
    background: #FFFFFF;
    border: 3px solid $dark_color6;
    box-sizing: border-box;
    box-shadow: 0px 6px 0px $dark_color6;
    border-radius: 8px;
    margin-bottom: 24px;
    
    padding: 24px;
    .game_box_left{
        float: left;
        margin-right: 24px;
        @media all and (max-width : $smm) {
            width: 100%;
        }
        img{
            @media all and (max-width : $smm) {
                width: 100%;
            }
        }
    }
    .game_box_middle{
        float: left;
        @media all and (max-width : $smd) {
            width: 225px;
        }
        @media all and (max-width : $smm) {
            margin-top: 20px;
        }
        .game_box_title{
            color: $dark_color1;
            font-family: grota;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            font-weight: bold;
            @media all and (max-width : $smm) {
                font-weight: bold;
            }
        }
        .game_box_description{
            color: $dark_color2;
            font-size: 14px;
            // line-height: 18px;
            margin-top: 5px;
        }
        .game_sub_box_wrapper{
            margin-top: 10px;
            .game_box_options_box{
                background-image: url("../img/dst/svg/components/misc/options.svg");
                background-repeat: no-repeat;
                background-size: 24px;
                padding-left: 32px;
                float: left;
                .game_box_options_title{
                    font-size: 10px;
                    color: $dark_color5;
                    line-height: 12px;
                }
                .game_box_options_numbers{
                    font-size: 14px;
                    color: $dark_color1;
                    font-family: grota;
                }
                
            }
            .game_box_players{
                float: right;
                background-image: url("../img/dst/svg/components/misc/live.svg");
                background-repeat: no-repeat;
                background-size: 24px;
                padding-left: 32px;
                @media all and (max-width : $smm) {
                    position: absolute;
                    right: 50px;
                }
                .game_box_online_title{
                    font-size: 10px;
                    color: $dark_color5;
                    line-height: 12px;
                }
                .game_box_oonline_numbers{
                    font-size: 14px;
                    color: $dark_color1;
                    font-family: grota;
                }
            }
        }
    }
    .game_box_right{
        float: right;
        margin-top: 30px;
        @media all and (max-width : $smmd) {
            display: none;
        }
        @media all and (max-width : $smm) {
            display: block;
        }
    }
}