.footer{
    background-color: $secondary_color;
    padding-top: 40px;
    width: 100%;
    max-width: none !important;
    // margin-top: 35px !important;
    padding-bottom: 50px;
    .footer_wrapper{
        background-color: $primary_color;
        padding: 40px;
        width: 91.46%;
        max-width: 1198px;
        height: 291px;
        border: 3px solid $primary_dark;
        box-shadow: 0px 6px 0px #4B00A3;
        border-radius: 8px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, [col-start] 1fr);
        gap: 20px;
        @media all and (max-width : $lg) {
            height: 600px;
            text-align: center;
        }
        .footer_left{
            grid-column: col-start / span 3;
            @media all and (max-width : $lg) {
                grid-column: col-start / span 4;
            }
            .footer_header{
                font-family: grota;
                font-weight: 600;
                font-size: 36px;
                @media all and (max-width : $lg) {
                    font-size: 30px;
                    line-height: 32px;
                }
            }
            .footer_message{
                margin: 14px 0 35px 0;
                // font-size: 18px;
                width: 65%;
                @media all and (max-width : $lg) {
                    width: 100%;
                }
            }
            .footer_form_wrapper{
                .footer_form_email{
                    .register_to_newsletter_email{
                        float: left;
                        margin-right: 22px;
                        width: 54%;
                        @media all and (max-width : $lg) {
                            width: 100%;
                            float: none;
                        }
                    }
                    .button_wrapper{
                        @media all and (max-width : $lg) {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
        .footer_right{
            grid-column: col-start 4/ span 1;
            @media all and (max-width : $lg) {
                grid-column: col-start / span 4;
            }
            .menu{
                margin-bottom: 30px;
                @media all and (max-width : $lg) {
                    margin-bottom: 20px;
                }
                .first_link{
                    font-weight: bold;
                }
                ul{
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li{
                        a{
                            color: #fff;
                        }
                    }
                }
            }
            .social_links{
                width: 280px;
                @media all and (max-width : $lg) {
                    margin: 0 auto;
                    width: 280px;
                    text-align: center;
                }
            }
        }
    }
}