

.wodogaming{
    .logo{
        background-image: url("../img/_src/branding/wodo_gaming_purple.svg");
        background-repeat: no-repeat;
        width:150px;
        height:53px;
        margin-top: 3px;
        background-size: 100%;
    }
    .loggedin_content_wrapper{
        .header_wrapper{
            height: 40px;
            padding: 5px 20px;
            .header_content{
                margin: 3px auto 0 auto;
                .header_left{
                    @media all and (max-width : $ssm) {
                        grid-column: col-start/span 1;
                    }
                    .header_menu{
                        padding-top: 0;
                        ul{
                            margin: 0;
                            padding: 0;
                            li{
                                background-size: 16px !important;
                                background-position: left bottom;
                                padding-left: 22px !important;
                                a{
                                    font-size: 12px !important;
                                    font-weight: 400 !important;
                                }
                            }
                        }
                    }
                }
                .header_right{
                    @media all and (max-width : $ssm) {
                        grid-column: col-start 4/span 11;
                    }
                    .header_notifications{
                        margin-top: 0;
                        background-image: url(../img/dst/svg/components/icons/bell-dot.svg);
                    }
                    .social_links{
                        float: right;
                    }
                    .header_hamburger{
                        margin: 1px 0 0 10px;
                    }
                }
            }
        }
    }    
    #main_wrapper{
        #header_wrapper{
            display: block;
            .logo{
                margin: 0 auto;
                background-size: 100%;
            }
        }
        .section2{
            .welcome_carpet_wrapper{
                margin-top: 55px;
                a:hover{
                    text-decoration: none;
                }
                .token_sale_wrapper{
                    width: 300px;
                    margin: 0 auto;
                    .slick-prev{
                        background-image: url("../img/dst/svg/components/icons/previous_black.svg");
                    }
                    .slick-next{
                        background-image: url("../img/dst/svg/components/icons/next_black.svg");
                    }
                    .token_sale{
                        background-image: url("../img/dst/svg/homepage/token_sale.svg");
                        background-repeat: no-repeat;
                        width:200px;
                        height:220px;
                        margin-top: 3px;
                        background-size: 100%;
                        margin: 0 auto;
                        &.blue_mage{
                            background-image: url("../img/dst/png/homepage/blue_mage.png");
                            // width:200px;
                            // height:192px;
                            background-position: center bottom;
                        }
                        &.necromancer{
                            background-image: url("../img/dst/svg/homepage/necromancer_sale.svg");
                            // width:200px;
                            // height:192px;
                            background-position: center center;
                        }
                        &.retro{
                            background-image: url("../img/dst/svg/homepage/80s_token_sale.svg");
                            // width:200px;
                            // height:192px;
                            background-position: center center;
                        }
                    }
                    .token_sale_name{
                        margin: 0 auto;
                        text-align: center;
                    }
                    .welcome_stage{
                        margin-top: -85px;
                        @media all and (max-width : $md) {
                            margin-top: -17px;
                        }
                    }
                    #countdown{
                        width: 200px;
                        margin: 0 auto;
                        text-align: center;
                        // font-family: grota;
                        // color: #fff;
                        // border: 3px solid $primary_dark;
                        // border-radius: 10px;
                        // background-color: rgba($color: $primary_color, $alpha: 0.8);
                        padding: 10px;
                        font-weight: 700;
                        // text-shadow: 1px 1px $primary_dark;
                        margin-top: -37px;
                    }
                    .tbd{
                        margin-top: -20px;
                    }
                }
            }
        }
    }
    
    #slide_menu{
        z-index: 2;
    }
}
 
.fancy_text{
    margin: 0 auto;
    text-align: center;
    font-family: grota;
    color: $yellow1;
    padding: 10 px;
    font-weight: 700;
    -webkit-text-stroke: 0.5px #FBDD11;
    // position: absolute;
    &:before{
        content: attr(title);
        z-index: -1;
        -webkit-text-stroke: 7px $dark_color1;
        position: absolute;
    }
    // &:after {
    //     left: 0;
    //     // top: 0;
    //     content: attr(title);
    //     z-index: 1;
    //     background:  linear-gradient(left top,rgba(red,0) 0%,rgba(red,0.02) 100%);
    //     -webkit-background-clip: text;
    //     background-clip: text;
    //     color: transparent;
    //     text-shadow: -0.02em -0.04em 1px rgba(red,.1);
    //     position: absolute;
    //   }
}

#notifications_box,
#search_box{
    top: 40px;
}