.section11{
    background-color: $secondary_color;
    padding-top: 8vw;
    width: 100%;
    max-width: none !important;
    padding-bottom: 8vw;
    z-index: 1;
    @media all and (max-width : $md) {
        padding-bottom: 19vw;
    }
    .stage_header{
        // margin-top: 50px;
    }
    // margin-top: 13vw !important;
    .platform_images{
        max-width: 900px;
        margin: 50px auto 0 auto;
        .homepage_screen{
            img{
                margin: 0 auto;
                max-width: 800px;
                width: 90%;
        
                border-top: 24px solid #E5E7EE;
                border-radius: 10px;
            }
        }
    }
}