.section16{
    background-color: $secondary_color ;
    width: 100%;
    max-width: none !important;
    margin-top: -25px !important;
    padding-bottom: 16vw !important;
    padding-top: 0px;
    .section_text_wrapper{
        padding: 0 20px;
        .stage_header_motto{
            position: relative;
            overflow: hidden;
            width: 100%;
            max-width: 800px;
            &::after{
                display: block;
                content: "";
                padding-top: 56.25%;
            }
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}