.section8{
    background-color: $secondary_color;
    padding-top: 8vw;
    width: 100%;
    max-width: none !important;
    padding-bottom: 200px;
    .roadmap{
        .roadmap_wrapper{
            position: relative;
            .header{
                // font-size: 72px;
                font-family: grota;
                font-weight: 800;
                text-align: center;
                line-height: 121px;
            }
            .line{
                width: 10px;
                background-color: #fff;
                position: absolute;
                height: calc(100% - 175.6px);
                left: calc(((100vw - (100vw - 100%)) - 10px)/2);
                top: 163.6px;
                @media all and (max-width : $ssm) {
                    right: 0;
                    left: calc(((100vw - (100vw - 100%)) - 10px));
                }
            }
            .roadmap_q{
                width: 50%;
                @media all and (max-width : $ssm) {
                    width: 100%;
                }
                .roadmap_q_head{
                    font-size: 48px;
                    font-family: grota;
                    font-weight: 800;
                    line-height: 84px;
                    
                    @media all and (max-width : $smd) {
                        font-size: 42px;
                    }
                    @media all and (min-width : $xs) and (max-width : $sm) {
                        font-size: 36px;
                    }
                    @media all and (max-width : $sm) {
                        font-size: 28px;
                    }
                }
                .roadmap_q_list{
                    ul{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        @media all and (max-width : $ssm) {
                            font-size: 12px;
                        }
                        li{
                            position: relative;
                        }
                    }
                }
                &.left{
                    // margin-left: -90px;
                    text-align: right;
                    .roadmap_content_wrapper{
                        margin-right: 90px;
                    }
                    .roadmap_q_head{
                        margin-right: -95px;
                        padding-right: 115px;
                        background-image: url("../img/dst/svg/components/misc/q_h_bg.svg");
                        background-repeat: no-repeat;
                        background-size: 90px;
                        background-position-x: right;
                        background-position-y: center;
                        @media all and (max-width : $ssm) {
                            margin-right: -90px;
                        }
                    }
                    .roadmap_q_list{
                        ul{
                            li{
                                margin-right: -95px;
                                padding-right: 95px;
                                background-image: url("../img/dst/svg/components/misc/q_l_bg.svg");
                                background-repeat: no-repeat;
                                background-size: 65px;
                                background-position-x: right;
                                background-position-y: center;
                                @media all and (max-width : $ssm) {
                                    margin-right: -90px;
                                }
                                .checked_item,
                                .processing_item{
                                    float: right;
                                    text-align: right;
                                    position: absolute;
                                    right: 450px;
                                    @media all and (max-width : $ml) {
                                        left: 10px;
                                    }
                                }
                                .processing_item{
                                    margin-top: 3px;
                                }
                            }
                        }
                    }
                }
                &.right{
                    margin-left: calc(50% + 90px);
                    text-align: left;
                    width: calc(50% - 90px);
                    @media all and (max-width : $ssm) {
                        width: 100%;
                        text-align: right;
                        margin-left: -90px;
                    }
                    .roadmap_q_head{
                        background-image: url("../img/dst/svg/components/misc/q_h_rbg.svg");
                        background-repeat: no-repeat;
                        background-size: 90px;
                        background-position-x: left;
                        background-position-y: center;
                        margin-left: -95px;
                        padding-left: 115px;
                        @media all and (max-width : $ssm) {
                            background-image: url("../img/dst/svg/components/misc/q_h_bg.svg");
                            background-position-x: right;
                            margin-right: -90px;
                            padding-right: 115px;
                            margin-left: 0;
                            padding-left: 0;
                        }
                    }
                    .roadmap_q_list{
                        ul{
                            li{
                                margin-left: -95px;
                                padding-left: 95px;
                                background-image: url("../img/dst/svg/components/misc/q_l_rbg.svg");
                                background-repeat: no-repeat;
                                background-size: 65px;
                                background-position-x: left;
                                background-position-y: center;
                                @media all and (max-width : $ssm) {
                                    background-image: url("../img/dst/svg/components/misc/q_l_bg.svg");
                                    background-position-x: right;
                                    margin-right: -90px;
                                    padding-right: 95px;
                                    margin-left: 0;
                                    padding-left: 0;
                                }
                                .checked_item,
                                .processing_item{
                                    float: left;
                                    position: absolute;
                                    @media all and (min-width : $xl) {
                                        // right: 167px;
                                        left: 460px;
                                    }
                                    @media all and (max-width : $xl) {
                                        right: 10px;
                                        // left: 0;
                                    }
                                    @media all and (max-width : $ssm) {
                                        left: 100px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}