.section15{
    background-color: $secondary_color ;
    width: 100%;
    max-width: none !important;
    margin-top: -1px !important;
    padding-bottom: 16vw !important;
    padding-top: 125px;
    @media all and (min-width: $xxl + 15px) {
        background-image: url(../img/dst/svg/homepage/yellow_line.svg);
        background-repeat: repeat-x;
        margin-top: -30px !important;
        padding-top: 150px;
    }
    @media all and (max-width : $md) {
        padding-top: 100px;
    }
    
    // TAB styling start
    .pc-tab { 
        margin: 0 auto;
        max-width: 1200px;
        @media all and (max-width : $xl) {
            width: 90%;
        }
        nav{
            background-color: $secondary_color_dark;
            border: 3px solid $secondary_color_dark;
            box-shadow: 0 6px 0 $secondary_color_dark;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                label {
                    font-weight: bold;
                    width: calc(16.66% - 4px);   
                    background: $secondary_color;
                    color: #fff;
                    &:hover {
                        background: $secondary_color_dark;
                    }
                    &:active {
                        background: $secondary_color_dark !important;
                    }
                    .tab_icon{
                        display: none;
                        width: 20px;
                        height: 20px;
                        margin: 0 auto;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100%;
                        @media all and (max-width : $md) {
                            display: block;
                        }
                        &.tab_icon1{
                            background-image: url("../img/dst/svg/components/icons/game.svg");
                        }
                        &.tab_icon2{
                            background-image: url("../img/dst/svg/components/icons/code.svg");
                        }
                        &.tab_icon3{
                            background-image: url("../img/dst/svg/components/icons/rocket_white.svg");
                        }
                        &.tab_icon4{
                            background-image: url("../img/dst/svg/components/icons/basket.svg");
                        }
                        &.tab_icon5{
                            background-image: url("../img/dst/svg/components/icons/store.svg");
                        }
                        &.tab_icon6{
                            background-image: url("../img/dst/svg/components/icons/wallet.svg");
                        }
                    }
                    span{
                        @media all and (max-width : $md) {
                            display: none;
                        }
                    }
                }
            }
        }
        .tab_content{
            margin-top: 60px;
            @media all and (max-width : $md) {
                margin-top: 30px;
            }
            .tab_item_content{
                // display: grid !important;
                grid-template-columns: repeat(12, [col-start] 1fr);
                gap: 24px;  
                .tab_item_image{
                    grid-column: col-start / span 3;
                    height: 200px;
                    min-height: 100px;
                    max-height: 300px;
                    // max-width: 300px;
                    // width: 200px;
                    margin-top: 0 auto;
                    background-size: 60%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    border-radius: 50%;
                    background-color: rgba($color: #fff, $alpha: 0.3);
                    @media all and (max-width : $md) {
                        grid-column: col-start 3/ span 8;
                    }
                    &.tab_item_image1{
                        background-image: url("../img/dst/svg/components/misc/joystick.svg");
                        background-size: 100%;
                    }
                    &.tab_item_image2{
                        background-image: url("../img/dst/svg/components/misc/designer.svg");
                        background-size: 80%;
                    }
                    &.tab_item_image3{
                        background-image: url("../img/dst/svg/components/misc/rocket.svg");
                    }
                    &.tab_item_image4{
                        background-image: url("../img/dst/svg/components/misc/win.svg");
                        background-size: 70%;
                    }
                    &.tab_item_image5{
                        background-image: url("../img/dst/svg/components/misc/marketplace.svg");
                    }
                    &.tab_item_image6{
                        background-image: url("../img/dst/svg/components/misc/wallet.svg");
                        background-size: 40%;
                    }
                }
                .tab_item_text{
                    grid-column: col-start 4/ span 9;
                    align-self:center;
                    @media all and (max-width : $md) {
                        grid-column: col-start / span 12;
                        text-align: center;
                    }
                    .tab_item_header{
                        font-family: grota;
                        font-weight: bold;
                        font-size: 24px;
                    }
                }
            }
            
        }
    }
    
    
    // TAB styling end
}

  
#tab1:checked ~ nav .tab1,
#tab2:checked ~ nav .tab2,
#tab3:checked ~ nav .tab3,
#tab4:checked ~ nav .tab4,
#tab5:checked ~ nav .tab5,
#tab6:checked ~ nav .tab6{
  label {
    background: $secondary_color_dark;
  }
}