.section4{
    background-color: $secondary_color;
    z-index: -1;
    margin-top: -8px !important;
    width: 100%;
    max-width: none !important;
    padding-bottom: 8vw;
    .section_text_wrapper{
        position: absolute;
        width: 100%;
        top: -42px;
        height: 100px;
        @media all and (max-width : $md) {
            top: 0;
        }
    }
    .stage_header_image{
        padding-top: 210px;
        padding-bottom: 25px;
        overflow: hidden;
        position: relative;
        @media all and (min-width: $xxl+15px) {
            background-image: url(../img/dst/svg/homepage/yellow_line.svg);
            background-repeat: repeat-x;
            margin-top: -30px;
        }
        @media all and (max-width : $md) {
            padding-top: 245px;
        }
        .flying_image{
            box-shadow: 7px 11px 16px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            @media all and (max-width : $md) {
                border-radius: 5px;
            }
        }
        .section_bg_image{
            background-image: url("../img/dst/jpg/homepage/fire_game.jpg");
            max-width: 800px;
            max-height: 500px;
            background-repeat: no-repeat;
            width: 55.55vw;
            height: 34.72vw;
            background-size: 100%;
            margin: 0 auto;
            min-width: 320px;
            min-height: 200px;
            box-shadow: 7px 11px 16px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            border: 2px solid #fff;
            @media all and (max-width : $md) {
                border-radius: 3px;
            }
        }
        .flying_image1{
            background-image: url("../img/dst/svg/homepage/chat1.svg");
            max-width: 216px;
            max-height: 56px;
            width: 15vw;
            height: 3.88vw;
            background-size: 100%;
            position: absolute;
            left: calc(((100vw - (100vw - 50%)) - 21vw)/2);
            top: 270px;
            min-width: 100px;
            min-height: 26px;
            @media all and (max-width: $sm) {
                left: 14px;
                top: 267px;
            }
        }
        .flying_image2{
            background-image: url("../img/dst/svg/homepage/chat2.svg");
            max-width: 136px;
            max-height: 93px;
            width: 9.44vw;
            height: 6.458vw;
            background-size: 100%;
            position: absolute;
            // left: calc(((100vw - 10%) + 44vw)/ 2);
            right: calc(((100vw - (100vw - 50%)) - 14vw)/2);
            top: 260px;
            min-width: 63px;
            min-height: 43px;
            @media all and (min-width: $xxl) {
                // left: calc(1100px - 136px);
            }
            @media all and (max-width: $sm) {
                left: auto;
                right: 14px;
                top: 227px;
            }
        }
        .flying_image3{
            background-image: url("../img/dst/svg/homepage/chat3.svg");
            max-width: 216px;
            max-height: 56px;
            width: 15vw;
            height: 3.88vw;
            background-size: 100%;
            position: absolute;
            // left: calc(((100vw - 10%) + 40vw)/ 2);
            right: calc(((100vw - (100vw - 50%)) - 20vw)/2);
            top: calc(((50vw - 10%) + 520px)/ 2);
            min-width: 100px;
            min-height: 26px;
            @media all and (min-width: $xxl) {
                // left: calc(1070px - 136px);
                // right: calc(((100vw - (100vw - 50%)) - 5vw)/2);
                top: 525px;
            }
            @media all and (max-width: $sm) {
                // left: auto;
                right: 10px;
                top: 400px;
            }
        }
    }
}