.section14{
    background-color: $secondary_color ;
    z-index: 2;
    margin-top: -8px !important;
    .section_text_wrapper{
        position: absolute;
        top: -20px;
        margin: 0 auto;
        width: 100%;
        @media all and (max-width : $md) {
            margin-top: 25px;
        }
        .stage_header_motto{

            @media all and (max-width : $md) {
                margin-top: 10px;
            }
        }
    }
}