.section12{
    background-color: $secondary_color;
    width: 100%;
    max-width: none !important;
    padding-bottom: 8vw;
    padding-top: 8vw;
    z-index: 1;
    .stage_header{
        margin-bottom: 50px;
    }
    .section_bg_image{
        text-align: center;
        img{
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
        }
        &.vertical{
            display: none;
            @media all and (max-width : $smdd) {
                display: block;
            }
        }
        &.horizontal{
            display: block;
            @media all and (max-width : $smdd) {
                display: none;
            }
        }
    }
}