.section3{
    background-color: $secondary_color;
    z-index: 2;
    // margin-top: -10px;
    .section_text_wrapper{
        position: absolute;
        width: 100%;
        top: -42px;
        height: 100px;
        @media all and (max-width : $md) {
            top: 0;
        }
    }
    .stage_header{
        font-family: grota;
        color: #fff;
        font-size: calc((1vw+1vh)*5);
        line-height: 68px;
        font-weight: 700;
        text-align: center;
        width: 64vw;
        min-width: 330px;
        max-width: 926px;
        margin: 0 auto 0 auto;
        @media all and (min-width: $xxl) {
            font-size: 72px;
            
        }
        @media all and (max-width : $md) {
            font-size: 36px;
            line-height: 40px;
        }
    } 
    .stage_header_motto{
        color: #fff;
        text-align: center;
        font-size: 20px;
        width: 75%;
        margin: 20px auto 0 auto;
        line-height: 22px;
        width: 35vw;
        max-width: 505px;
        @media all and (max-width : $md) {
            width: 100%;
            font-size: 16px;
        }
    }
    .stage_header_image{
        padding-top: 210px;
        .section_bg_image{
            background-image: url("../img/dst/png/homepage/first_game_ss.png");
            max-width: 800px;
            max-height: 500px;
            width: 55.55vw;
            height: 34.72vw;
            background-size: 100%;
            margin: 0 auto;
            min-width: 320px;
            min-height: 200px;
        }
    }
}