@tailwind base;
@tailwind components;
@tailwind utilities;

/*Grota*/
@font-face {
  font-family: 'Grota';
  src: url(./assets/fonts/Grota/GrotaRoundedThin.woff) format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'Grota';
  src: url(./assets/fonts/Grota/GrotaRoundedLight.woff) format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Grota';
  src: url(./assets/fonts/Grota/GrotaRounded.woff) format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Grota';
  src: url(./assets/fonts/Grota/GrotaRoundedBold.woff) format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Grota';
  src: url(./assets/fonts/Grota/GrotaRoundedExtraBold.woff) format('woff');
  font-weight: 800;
}
@font-face {
  font-family: 'Grota';
  src: url(./assets/fonts/Grota/GrotaRoundedBlack.woff) format('woff');
  font-weight: 900;
}

/*Grota ITALIC*/
@font-face {
  font-family: 'Grota';
  src: url(./assets/fonts/Grota/GrotaRoundedThin-Italic.woff) format('woff');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Grota';
  src: url(./assets/fonts/Grota/GrotaRoundedLight-Italic.woff) format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Grota';
  src: url(./assets/fonts/Grota/GrotaRounded-italic.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Grota';
  src: url(./assets/fonts/Grota/GrotaRoundedBold-Italic.woff) format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Grota';
  src: url(./assets/fonts/Grota/GrotaRoundedExtraBold-Italic.woff) format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Grota';
  src: url(./assets/fonts/Grota/GrotaRoundedBlack-Italic.woff) format('woff');
  font-weight: 900;
  font-style: italic;
}


/*Inter*/
@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter/Inter-Thin.woff) format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter/Inter-ExtraLight.woff) format('woff');
  font-weight: 200;
}
@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter/Inter-Light.woff) format('woff');
  font-weight: 200;
}
@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter/Inter-Regular.woff) format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter/Inter-Regular.woff) format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter/Inter-Medium.woff) format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter/Inter-SemiBold.woff) format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter/Inter-Bold.woff) format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter/Inter-Black.woff) format('woff');
  font-weight: 800;
}
@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter/Inter-ExtraBold.woff) format('woff');
  font-weight: 900;
}
